@{
	var bootstrap_themes = "ace-v1.2--bs-v3.2.0";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset="utf-8" />
    <title>@ViewBag.Title</title>
	<meta name="description" content="Restyling jQuery UI Widgets and Elements" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

	<!--jquery-->
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/jquery")


	<!-- jquery library -->
	@Scripts.Render("~/jquerylib/jstree-js")
	@Styles.Render("~/jquerylib/jstree-css")



	<!-- START : Bootstrap Templete -->
		<!-- basic styles -->

		<link rel="stylesheet" href="~/Bootstrap/@bootstrap_themes/assets/css/bootstrap.min.css" />
		<link rel="stylesheet" href="~/Bootstrap/@bootstrap_themes/assets/css/font-awesome.min.css" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="~/Bootstrap/@bootstrap_themes/assets/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->
		<link rel="stylesheet" href="~/Bootstrap/@bootstrap_themes/assets/css/jquery-ui.min.css" />

		<!-- fonts -->
		<link rel="stylesheet" href="~/Bootstrap/@bootstrap_themes/assets/css/ace-fonts.css" />

		<!-- ace styles -->

		<link rel="stylesheet" href="~/Bootstrap/@bootstrap_themes/assets/css/ace.min.css" />
		<link rel="stylesheet" href="~/Bootstrap/@bootstrap_themes/assets/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="~/Bootstrap/@bootstrap_themes/assets/css/ace-skins.min.css" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="~/Bootstrap/@bootstrap_themes/assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->

		<script src="~/Bootstrap/@bootstrap_themes/assets/js/ace-extra.min.js"></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="~/Bootstrap/@bootstrap_themes/assets/js/html5shiv.js"></script>
		<script src="~/Bootstrap/@bootstrap_themes/assets/js/respond.min.js"></script>
		<![endif]-->
	<!-- END : Bootstrap Templete -->

	<!-- Groupware JS -->
	@Scripts.Render("~/custom/common-js")


</head>
<body>

	<div id="wrapper">

		@RenderBody()
	
		@RenderSection("scripts", required: false)

	</div>
	<!-- /#wrapper -->




	<!-- basic scripts -->

	<!--[if !IE]> -->
	<script type="text/javascript">
		window.jQuery || document.write("<script src='~/Bootstrap/@bootstrap_themes/assets/js/jquery.min.js'>" + "<" + "/script>");
	</script>

	<!-- <![endif]-->

	<!--[if IE]>
	<script type="text/javascript">
		window.jQuery || document.write("<script src='~/Bootstrap/@bootstrap_themes/assets/js/jquery1x.min.js'>"+"<"+"/script>");
	</script>
	<![endif]-->
	<script type="text/javascript">
		if ('ontouchstart' in document.documentElement) document.write("<script src='~/Bootstrap/@bootstrap_themes/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
	</script>
	<script src="~/Bootstrap/@bootstrap_themes/assets/js/bootstrap.min.js"></script>

	<!-- page specific plugin scripts -->
	<script src="~/Bootstrap/@bootstrap_themes/assets/js/jquery-ui.min.js"></script>
	<script src="~/Bootstrap/@bootstrap_themes/assets/js/jquery.ui.touch-punch.min.js"></script>

	<!-- ace scripts -->
	<script src="~/Bootstrap/@bootstrap_themes/assets/js/ace-elements.min.js"></script>
	<script src="~/Bootstrap/@bootstrap_themes/assets/js/ace.min.js"></script>

	@RenderPage("~/Views/Common/Dialog/AlertDialog.cshtml")
	@RenderPage("~/Views/Common/Dialog/EmpDialog.cshtml")

</body>

</html>
