@{
	var bootstrap_themes = "ace-v1.2--bs-v3.0.0";
	
	if ( Session["emp_no"] == null || Session["emp_no"] == "" )
	{
		Html.RenderAction("Index", "Login");
	}
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
	<!--jquery-->
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/jquery")


	<!-- START : Bootstrap Templete -->
		<!-- basic styles -->

		<link href="~/Bootstrap/@bootstrap_themes/assets/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="~/Bootstrap/@bootstrap_themes/assets/css/font-awesome.min.css" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="~/Bootstrap/@bootstrap_themes/assets/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->

		<!-- fonts -->

		<link rel="stylesheet" href="~/Bootstrap/@bootstrap_themes/assets/css/ace-fonts.css" />

		<!-- ace styles -->

		<link rel="stylesheet" href="~/Bootstrap/@bootstrap_themes/assets/css/ace.min.css" />
		<link rel="stylesheet" href="~/Bootstrap/@bootstrap_themes/assets/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="~/Bootstrap/@bootstrap_themes/assets/css/ace-skins.min.css" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="~/Bootstrap/@bootstrap_themes/assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->

		<script src="~/Bootstrap/@bootstrap_themes/assets/js/ace-extra.min.js"></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="~/Bootstrap/@bootstrap_themes/assets/js/html5shiv.js"></script>
		<script src="~/Bootstrap/@bootstrap_themes/assets/js/respond.min.js"></script>
		<![endif]-->
	<!-- END : Bootstrap Templete -->

	<!-- Groupware JS -->
	@Scripts.Render("~/custom/common-js")


</head>
<body>

	<div id="wrapper">

		@{
			Html.RenderAction("Index", "Header");
			Html.RenderAction("Index", "Left");
		}
		
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">@ViewBag.Title</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
			@RenderBody()
		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->
	
	@RenderSection("scripts", required: false)


	<!-- Modal -->
	@*<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Launch Demo Modal
    </button>*@
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Modal title</h4>
				</div>
				<div class="modal-body"  id="myModalBody">
					
				</div>
				<div class="modal-footer">
					<button type="button" id="btn-modal-close" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" id="btn-modal-save" class="btn btn-primary">Save changes</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->


	<!-- START : Bootstrap Templete -->
		<!-- basic scripts -->

		<!--[if !IE]> -->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='~/Bootstrap/@bootstrap_themes/assets/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
		<script type="text/javascript">
		 window.jQuery || document.write("<script src='~/Bootstrap/@bootstrap_themes/assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
		</script>
		<![endif]-->

		<script type="text/javascript">
			if ("ontouchend" in document) document.write("<script src='~/Bootstrap/@bootstrap_themes/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
		</script>
		<script src="~/Bootstrap/@bootstrap_themes/assets/js/bootstrap.min.js"></script>
		<script src="~/Bootstrap/@bootstrap_themes/assets/js/typeahead-bs2.min.js"></script>

		<!-- page specific plugin scripts -->

		<!-- ace scripts -->

		<script src="~/Bootstrap/@bootstrap_themes/assets/js/ace-elements.min.js"></script>
		<script src="~/Bootstrap/@bootstrap_themes/assets/js/ace.min.js"></script>

		<!-- inline scripts related to this page -->
	<!-- END : Bootstrap Templete -->

</body>
</html>
